.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.view {
  display: flex;
  height: 100%;
  gap: 0.5rem;
  overflow: hidden;

}
.view > :first-child {
  width: 36%;
}
.view > :last-child {
  width: 64%;
}

@media (max-width: 768px) {
  .view {
    flex-direction: column;
  }
  .view > :first-child {
    width: 100%;
  }
  .view > :last-child {
    width: 100%;
  }
}
