
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  rgba(var(--blue-1000));
  padding: 1rem;
  box-shadow: var(--shadow);
}

.group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}